/**/*/[Tt]arget/**/*
/**/*/[Bb]in/**/*
/**/*/[Oo]bj/**/*
/**/*/[Oo]utput/**/*
/**/*/[Tt]est[Rr]esults/**/*
/**/*/[Cc]overage[Rr]esults/**/*
/**/*/[Pp]kg/**/*
/**/*/[Pp]ackages/**/*
/**/*/[Bb]uild/**/*
/**/*/.[Gg]radle/**/*

/**/*.exe
/**/*.dll
/**/*.o
/**/*.hi
/**/*.class
/**/*.jar
/**/*.war
/**/*.beam
/**/*.trx
/**/*.suo
/**/*.user

/packages/*
/.version/**/*
/**/buildver.txt
/**/.vs/**
/**/.vscode/**
/**/local.settings.json

/**/coverage.cobertura.xml

/locout/**/*